:root {
  --c-primary: #247581;
  --c-secondary: #002b5b;
  --c-white: #ffffff;
  --c-black: #000000;
  --c-text-light: #454545;
  --c-html: #ff1900;
  --c-css: #1500ff;

  --ff-itim: 'Itim', cursive;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-opensans: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.section-container {
    padding: 60px 40px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}


@media (max-width: 992px) {
    .section-container {
        padding: 40px 20px;
    }
}


.hero-section {
    background: linear-gradient(180deg, #ffffff 0%, #247581 100%);
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-header {
    padding: 36px 95px 0 0;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

.main-nav a {
    font-family: var(--ff-itim);
    font-size: 24px;
    color: var(--c-black);
    text-decoration: none;
    font-weight: 400;
}

.hero-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 38px;
    padding-bottom: 15%;
}

.hero-image {
    width: 245px;
    height: 245px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-title {
    color: var(--c-secondary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero-title-sub {
    font-family: var(--ff-opensans);
    font-size: 24px;
    font-weight: 400;
}

.hero-title-main {
    font-family: var(--ff-montserrat);
    font-size: 36px;
    font-weight: 800;
}


@media (max-width: 992px) {
    .hero-section {
        min-height: 80vh;
    }
    .hero-header {
        padding: 20px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero-content {
        gap: 20px;
        padding-bottom: 10%;
    }
    .hero-image {
        width: 180px;
        height: 180px;
    }
    .hero-title-sub {
        font-size: 20px;
    }
    .hero-title-main {
        font-size: 28px;
    }
}



.about-section {
    background-color: var(--c-primary);
    color: var(--c-white);
}

.about-title {
    font-family: var(--ff-poppins);
    font-size: 48px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 85px;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
    gap: 127px;
    align-items: flex-start;
    position: relative;
}

.about-content-wrapper::before {
    content: '';
    position: absolute;
    left: calc(50% - 35px); 
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--c-black);
}

.about-description {
    flex-basis: 604px;
    flex-shrink: 0;
    font-family: var(--ff-itim);
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
}

.about-description p {
    margin: 0 0 38px 0;
}

.about-skills {
    flex-basis: 605px;
    flex-shrink: 0;
}

.skills-title {
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 43px 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 302px);
    gap: 80px 40px;
    justify-content: center;
}

.skill-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px 10px;
    border-radius: 10px;
    height: 81px;
}

.skill-icon {
    height: 75px;
    width: auto;
}

.skill-name {
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-weight: 800;
}

.html-card { background-color: var(--c-html); }
.css-card { background-color: var(--c-css); }
.figma-card { background-color: var(--c-black); }
.cpp-card { background-color: var(--c-secondary); }

@media (max-width: 1300px) {
    .about-content-wrapper {
        gap: 5%;
    }
    .about-content-wrapper::before {
        left: 48%;
    }
    .about-description {
        flex-basis: 45%;
    }
    .about-skills {
        flex-basis: 45%;
    }
    .skills-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .about-content-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .about-content-wrapper::before {
        display: none;
    }
    .about-description {
        flex-basis: auto;
        font-size: 24px;
        max-width: 600px;
    }
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about-title {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .about-description {
        font-size: 20px;
    }
    .skills-grid {
        grid-template-columns: 1fr;
    }
    .skill-card {
        height: auto;
        padding: 10px;
    }
    .skill-icon {
        height: 50px;
    }
    .skill-name {
        font-size: 24px;
    }
}



.contact-section {
    background: linear-gradient(180deg, #247581 0%, #ffffff 100%);
}

.contact-main-title {
    color: var(--c-white);
    font-family: var(--ff-poppins);
    font-size: 36px;
    font-weight: 800;
    margin-top: 0;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-card {
    background-color: var(--c-white);
    border-radius: 25px;
    padding: 20px 30px 30px;
    width: 506px;
    max-width: 100%;
}

.form-title, .info-title {
    color: var(--c-primary);
    font-family: var(--ff-poppins);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin: 0 0 16px 0;
}

.info-title {
    font-size: 24px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form-row {
    display: flex;
    gap: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex: 1;
}

.form-group label {
    color: var(--c-primary);
    font-family: var(--ff-poppins);
    font-weight: 500;
    font-size: 24px;
}

.form-group input, .form-group textarea {
    border: 1px solid var(--c-primary);
    padding: 7px 12px;
    font-family: var(--ff-poppins);
    font-size: 16px;
    color: var(--c-text-light);
    font-weight: 250;
    width: 100%;
}

.form-group textarea {
    height: 79px;
    resize: vertical;
}

.submit-btn {
    background-color: var(--c-primary);
    color: var(--c-white);
    font-family: var(--ff-poppins);
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 1px 0;
    cursor: pointer;
    width: 203px;
    margin: 18px auto 0;
}

.info-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 23px;
}

.info-icon-wrapper {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #247581 0%, #ffffff 100%);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}

.info-icon-wrapper img {
    width: 50px;
    height: 50px;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-label {
    font-family: var(--ff-montserrat);
    font-weight: 200;
    font-size: 20px;
    color: var(--c-black);
}

.info-value {
    font-family: var(--ff-montserrat);
    font-weight: 500;
    font-size: 24px;
    color: var(--c-black);
}


@media (max-width: 992px) {
    .contact-wrapper {
        gap: 30px;
    }
    .contact-card {
        width: 100%;
        max-width: 550px;
    }
}

@media (max-width: 768px) {
    .contact-main-title {
        font-size: 28px;
    }
    .form-row {
        flex-direction: column;
        gap: 17px;
    }
    .form-group label {
        font-size: 20px;
    }
    .submit-btn {
        font-size: 20px;
    }
    .info-label {
        font-size: 18px;
    }
    .info-value {
        font-size: 20px;
    }
}